/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* scroll-behavior: smooth; */
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #1d1e20;
  color: #dadadb;
  width: 100vw;
  /* width: 100%;
  max-width: 1200px; */
  margin: 0 auto;
  padding: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

/* @media screen and (max-width: 768px) {
  body {
    width: 100%;
    padding: 0 2rem;
    overflow-x: hidden;
  }
} */

a {
  text-decoration: none;
  color: #dadadb;
}

li {
  list-style: none;
}

/* Navbar styles */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #1d1e20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  z-index: 1000;
  padding: 0 4rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.nav-container .logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.hometocontact {
  display: flex;
  justify-content: space-around;
  width: 40%;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.hometocontact li {
  padding: 0 10px; /* Adjusted padding */
  font-size: 1.2rem;
}

.hometocontact li:hover {
  text-decoration: underline;
  color: #f7df1e;
  font-weight: bold;
}
.hometocontact li a:focus,
.hometocontact li .active {
  /* outline: none; */
  /* padding: 0; Ensure no additional padding is applied */
  text-decoration: underline;
  color: #f7df1e;
  font-weight: bold;
}
.menu-icon {
  display: none;
}
.logo {
  padding-left: 1rem;
  cursor: pointer;
}

/* CTA button styles */
.cta-btn {
  background-color: #ffcc1a;
  color: #1d1e20;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  display: inline-block;
  margin: 0;
}

.cta-btn:hover {
  background-color: #dadadb;
}

/* Responsive styles for mobile */
@media screen and (max-width: 768px) {
  .hometocontact {
    display: none;
    position: absolute;
    top: 5rem;
    left: 0;
    /* background-color: #1d1e20; */
    background-color: #5c5757;
    width: 120px;
    height: auto;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    padding: 0 0 1rem 0.5rem;
    border-radius: 0 5px;
    padding: auto;
    z-index: 1000;
  }

  .hometocontact.open {
    display: block;
  }
  .menu-icon {
    display: block;
    font-size: 1.5rem;
    color: #dadadb;
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 0.5rem;
  }
  .nav-container {
    padding: 0 1rem;
  }
  .cta-btn {
    margin-right: 2rem;
  }
}

/* Footer */

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  background-color: #1d1e20;
}

.footer-container p {
  font-size: 0.8rem;
  color: #9b9c9d;
}

hr {
  border: none;
  background-color: #9b9c9d;
  height: 1px;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  hr {
    width: 100%;
  }
}

.footer-container .social_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
}

.footer-container .social_icons a {
  color: #9b9c9d;
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
}

.footer-container .social_icons a:hover {
  color: #dadadb;
}

/* Hero */
/* General Styles */
/* General Styles */
#Hero {
  margin-top: 5rem;
}

.hero-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 2rem;
  box-sizing: border-box;
  /* background-color: red; */
}

.hero-container2 .hero-profile {
  text-align: center;

  margin-bottom: 2rem;
  /* background-color: #0081cb; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-container2 .profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  /* background-color: #b3b3b3; */
}

.hero-container2 .hero-profile h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1rem;
}

.hero-container2 .hero-profile .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.hero-container2 .hero-profile .social-icons a {
  color: #9b9c9d;
  font-size: 2rem;
  transition: all 0.5s ease-in-out;
}

.hero-container2 .hero-profile .social-icons a:hover {
  color: #dadadb;
}

.cta-button {
  margin-top: 2rem;
}

.cta-link {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #ffcc1a;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-link:hover {
  background-color: #e0b900;
}

.hero-container2 .hero-text {
  width: 90%;

  /* max-width: 800px; */

  /* background-color: #99424f; */
}

.hero-container2 .hero-text p {
  font-size: 1rem;
  font-weight: 400;
  /* margin: 1rem 0; */
  text-align: justify;
  margin: 0 0.1rem;
}

.hero-container2 .hero-text p span {
  color: #ffcc1a;
  font-weight: bolder;
}

.hero-container2 .hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin: 2rem 0 0 0.2rem;
}

.mern-img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

/* Tablet Styles */
@media screen and (min-width: 768px) {
  .hero-container2 {
    justify-content: center;
    /* background-color: #0081cb; */
  }
  .hero-container2 .profile-img {
    width: 200px;
    height: 200px;
  }

  .hero-container2 .hero-profile h1 {
    font-size: 2.5rem;
  }

  .hero-container2 .hero-text p {
    font-size: 1.1rem;
  }

  .mern-img {
    width: 120px;
    height: 120px;
  }
}

/* Desktop Styles */
@media screen and (min-width: 1024px) {
  .hero-container2 {
    flex-direction: row;
    height: 85vh;
    padding: 2rem 4rem;
  }

  .hero-container2 .hero-profile {
    width: 45%;
    text-align: left;
    margin-bottom: 0;
    /* background-color: #0081cb; */
  }

  .hero-container2 .profile-img {
    width: 250px;
    height: 250px;
  }

  .hero-container2 .hero-profile h1 {
    font-size: 3rem;
  }

  .hero-container2 .hero-text {
    width: 60%;
    text-align: left;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: #00758f; */
  }

  .hero-container2 .hero-text p {
    font-size: 1.2rem;
  }

  .hero-text .hero-img {
    justify-content: flex-start;
  }

  .mern-img {
    width: 150px;
    height: 150px;
  }
}

/* About */
.about-container {
  /* padding: 2rem 0; */
  padding: 4rem 2rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 1rem;
}

.about-container h2 {
  /* font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem; */

  font-size: 2.5rem;
  font-weight: 700;
  color: #1d1e20;
  margin-bottom: 1rem;
  text-align: center;
}
.about-container p {
  max-width: 85%;
  text-align: justify;
  font-size: 1.2rem;
  font-weight: 400;
}

/* .about-container .flex-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 2rem;
} */

.flex-about {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  width: 85%;
}

.about-container .flex-about .about-text {
  width: 100%;
}

/* .about-container .flex-about .about-text p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  text-align: justify;
  line-height: 1.8;
  color: #333;
  padding-left: 1rem;
} */

.about-text h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #264de4;
  /* background-color: #3c873a; */
  margin-bottom: 1rem;
  width: 93%;
  text-align: center;
}
.about-text .competency {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* background-color: #3c873a; */
}
.about-text .competency h5 {
  gap: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #1d1e20;

  /* color: #d4de12; */
  line-height: 1.6;
  margin: 0.5rem;
  /* background-color: #dadadb; */
  padding: 0.5rem 0.7rem;
  border-radius: 10px;
  border: 2px solid #dadadb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.competency h5:hover {
  transform: scale(1.04);
}

.about-container .flex-about .about-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  /* height: 100%; */
}

.about-container .flex-about .about-img .profile-img {
  overflow: hidden;
  width: 100%;
  height: 600px;
  object-fit: cover;
  border: 2px solid #dadadb;
  /* filter: grayscale(100%); */
  transition: all 0.5s ease-in-out;
  cursor: cell;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.about-container .flex-about .about-img .profile-img:hover {
  /* filter: grayscale(0%); */
  transform: scale(1.02);
}

@media screen and (max-width: 768px) {
  .about-container .flex-about {
    flex-direction: column;
    width: 100%;
  }

  .about-container .flex-about .about-text {
    width: 100%;
    margin-left: 2rem;
  }

  .about-text .competency h5 {
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    /* color: #1d1e20; */

    /* color: #d4de12; */
    /* line-height: 1.6; */
    margin: 0.3rem;
    /* background-color: #dadadb; */
    padding: 0.3rem 0.5rem;
    /* border-radius: 10px; */
    border: 2px solid #dadadb;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    /* transition: transform 0.3s ease, background-color 0.3s ease; */
  }

  .about-container .flex-about .about-img {
    width: 80%;
  }
  .about-container .flex-about .about-img .profile-img {
    height: 300px;
  }
  .about-container p {
    max-width: 90%;
    font-size: 1.1rem;
    font-weight: 300;
  }
  .about-text .competency {
    /* display: flex;
    flex-direction: column;*/
    width: 100%;
    /* background-color: #00758f; */
    /* justify-content: center;
    margin-left: 1rem; */
    /* align-items: center; */

    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Skills */
.skills-container {
  padding: 2rem 0;
  width: 100%;
  /* text-align: center; */
  color: #dadadb;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  align-items: center;
  /* background-color: #2496ed; */
  margin: 0 auto;
  /* text-align: center; */
}

.skills-container h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffcc1a;
  margin-bottom: 1rem;
  text-align: center;
}

.skills-container h3 {
  font-size: 2rem;
  font-weight: 500;
  margin: 1.5rem 0 1.5rem 5rem;
  color: #f7df1e;
}

.skills-container .grid-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  /* border: 2px solid #dadadb; */
  box-shadow: #b3b3b3;
  padding: 0.5rem 0;
  /* font-size: 1.2rem; */
  width: 90%;
  /* background-color: red; */
  margin: 0 auto;
}

.skills-container .grid-skills .skill-card {
  background-color: #dadadb;
  color: #1d1e20;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 0.5rem;
  padding: 1.5rem;
  border-radius: 10px;
  border: 2px solid #2e2f31;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* transition: all 0.5s ease-in-out; */
  transition: transform 0.3s ease, background-color 0.3s ease;
  /* cursor: context-menu; */
  cursor: pointer;
}

.skills-container .grid-skills .skill-card:hover {
  transform: translateY(-10px);
  background-color: #333436;
}

/* Icon Specific Colors */
/* frontend Icon */
.html-icon {
  color: #e34c26;
}
.css-icon {
  color: #264de4;
}
.js-icon {
  color: #f0db4f;
}
.ts-icon {
  color: #3178c6;
}
.react-icon {
  color: #61dbfb;
}
.redux-icon {
  color: #764abc;
}
.materialui-icon {
  color: #0081cb;
}
.tailwind-icon {
  color: #38bdf8;
}

/* Backend Icon */
.node-icon {
  color: #3c873a;
}
.express-icon {
  color: #303030;
}
.laravel-icon {
  color: #ff2d20;
}
.mongodb-icon {
  color: #4db33d;
}
.mysql-icon {
  color: #00758f;
}
.postgresql-icon {
  color: #336791;
}

/* Others Icon */
.docker-icon {
  color: #2496ed;
}
.git-icon {
  color: #f34f29;
}
.rest-icon {
  color: #f7df1e;
}
.postman-icon {
  color: #ff6c37;
}
.graphql-icon {
  color: #e535ab;
}
.webpack-icon {
  color: #8ed6fb;
}
.babel-icon {
  color: #f9dc3e;
}
.jest-icon {
  color: #99424f;
}
.cypress-icon {
  color: #17202a;
}
.figma-icon {
  color: #f24e1e;
}

/* Hover Effects for Skill Cards */
.skills-container .grid-skills .html:hover {
  background-color: #e34f26;
  color: white;
}
.skills-container .grid-skills .css:hover {
  background-color: #264de4;
  color: white;
}
.skills-container .grid-skills .js:hover {
  background-color: #f7df1e;
  color: #1d1e20;
}
.skills-container .grid-skills .ts:hover {
  background-color: #3178c6;
  color: white;
}
.skills-container .grid-skills .react:hover {
  background-color: #61dafb;
  color: #1d1e20;
}
.skills-container .grid-skills .node:hover {
  background-color: #339933;
  color: white;
}
.skills-container .grid-skills .express:hover {
  background-color: #303030;
  color: white;
}
.skills-container .grid-skills .laravel:hover {
  background-color: #ff2d20;
  color: white;
}
.skills-container .grid-skills .mongodb:hover {
  background-color: #4db33d;
  color: white;
}
.skills-container .grid-skills .mysql:hover {
  background-color: #00758f;
  color: white;
}
.skills-container .grid-skills .postgresql:hover {
  background-color: #336791;
  color: white;
}
.skills-container .grid-skills .docker:hover {
  background-color: #2496ed;
  color: white;
}
.skills-container .grid-skills .git:hover {
  background-color: #f34f29;
  color: white;
}
.skills-container .grid-skills .rest:hover {
  background-color: #f7df1e;
  color: #1d1e20;
}
.skills-container .grid-skills .postman:hover {
  background-color: #ff6c37;
  color: white;
}
.skills-container .grid-skills .graphql:hover {
  background-color: #e535ab;
  color: white;
}
.skills-container .grid-skills .webpack:hover {
  background-color: #8ed6fb;
  color: #1d1e20;
}
.skills-container .grid-skills .babel:hover {
  background-color: #f9dc3e;
  color: #1d1e20;
}
.skills-container .grid-skills .jest:hover {
  background-color: #99424f;
  color: white;
}
.skills-container .grid-skills .cypress:hover {
  background-color: #17202a;
  color: white;
}
.skills-container .grid-skills .figma:hover {
  background-color: #f24e1e;
  color: white;
}

@media screen and (max-width: 968px) {
  .skills-container {
    width: 100%;
    padding: 1rem 0;
    /* text-align: center; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }
  .skills-container h2 {
    font-size: 1.7rem;
  }

  .skills-container h3 {
    font-size: 1.45rem;
    margin-left: 8rem;
  }
  .skills-container .grid-skills {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    /* margin: 0 2rem 0 0; */
    margin: 0 auto;
    width: 70%;
  }

  .skills-container .grid-skills .skill-card {
    /* gap: 0 0.2rem; */
    padding: 1rem;
    margin: 0.5rem 0.25rem;
  }
  .skill-card p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .skills-container {
    margin: 0 auto;
    /* background-color: #09a7d3; */
  }
  .skills-container h2 {
    font-size: 1.5rem;
  }
  .skills-container .grid-skills {
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 0.2rem;
    /* margin: 0 2rem 0 0; */
    margin: 0 auto;
    width: 94%;
    margin-left: 20px;
    /* background-color: #4db33d; */
  }

  .skills-container .skill-card {
    padding: 0.7rem;
    margin: 0.25rem 0.125rem;
  }
}

/* Projects */
.projects-container {
  /* padding: 2rem 0; */
  /* background-color: #e6e6e6; */
  padding: 4rem 2rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  color: #1d1e20;
  /* width: 100vw; */
  /* max-width: 1200px; */
  margin: 0 auto;
}

.projects-container h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #1d1e20;
  margin-bottom: 1rem;
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.project-card {
  padding: 1.5rem;
  border-radius: 10px;
  border: 2px solid #dadadb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;

  background-color: #fff;
}
.project-card:hover {
  transform: scale(1.04);
  background-color: #f1f1f1;
}

.project-card .project-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.project-card .folder-icon {
  font-size: 35px;
  color: #ffcc17;
}

.project-header .small-icons {
  display: flex;
  gap: 5px;
}
.small-icons a {
  font-size: 1.5rem;
  color: #ffcc1a;
  margin-left: 0.5rem;
  transition: color 0.3s ease;
}

/* .small-icons a:hover {
  color: #dadadb;
} */

/* .project-card .small-icons a:hover {
  color: #ffcc17;
} */

.project-card h3 {
  /* font-size: 20px;
  margin-bottom: 10px; */
  font-size: 1.25rem;
  /* color: #f7df1e; */
  margin-bottom: 0.5rem;

  color: #1d1e20;
}

.project-card p {
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: justify;
  /* color: #b3b3b3; */

  color: #333;
}
.project-links {
  display: flex;
  flex-direction: column;
  /* color: #1d1e20; */
  margin-top: 0.5rem;
  gap: 0.5rem 0;
}
.project-links a {
  display: inline-block;
  font-size: 1rem;
  color: #09a7d3;
  margin-left: 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.project-links a:hover {
  color: #ffcc1a;
  cursor: pointer;
  font-weight: bolder;
}

/* Tablet responsiveness */
@media screen and (max-width: 992px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .project-card {
    padding: 1.25rem;
  }

  .projects-container h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}

/* Mobile responsiveness */
@media screen and (max-width: 768px) {
  .projects-container {
    padding: 2rem 0 0 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
    width: 98%;
    gap: 1rem;
  }

  .project-card {
    width: 95%;
    margin: 0 auto;
  }

  .projects-container h2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  .project-card h3 {
    font-size: 1.1rem;
  }

  .project-card p {
    font-size: 0.9rem;
  }

  .project-links a {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 200px) {
  .projects-container {
    padding: 2rem 0.2rem;
    width: 100vw;
    margin: 0 0 0 2rem;
    /* background-color: #09a7d3; */
  }
  .projects-grid {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-card {
    width: 90vw;
    margin-left: 1rem;
  }
}

/* contact */
.contact-container {
  padding: 2rem 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  /* background-color: #339933; */
}

.contact-container h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffcc1a;
  margin-bottom: 1rem;
  text-align: center;
}

.contact-container p {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}
.contact-container p span {
  color: #ffcc1a;
  font-weight: 600;
}
.contact-container .allinputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: auto; */
  /* background-color: #00758f; */
  /* justify-content: center; */
  /* align-items: center; */
  /* padding: 1rem; */

  max-width: 600px;
}
.contact-container input,
.contact-container textarea {
  font-size: 1rem;
  margin: 0.5rem 0;
  padding: 0.75rem;
  border: 1px solid #dadadb;
  border-radius: 5px;
  background-color: #e8f0fe;
  width: 100%;
  box-sizing: border-box;
}

.contact-container textarea {
  resize: vertical;
}

.block button {
  padding: 0.75rem;
  font-size: 1rem;
  width: 100%;
  max-width: 200px;
  /* border: 2px solid #09a7d3; */
  border-radius: 5px;
  /* background-color: transparent; */

  color: #09a7d3;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1rem;
  align-self: center;
}

button:hover {
  background-color: #09a7d3;
  color: white;
  cursor: pointer;
}
/* .allinputs button {
  display: flex;
  align-items: center;
  justify-content: center;
} */

@media screen and (max-width: 768px) {
  .contact-container {
    width: 100%;
    padding: 2rem 1rem;
  }

  .contact-container h2 {
    font-size: 1.75rem;
  }

  .contact-container p {
    font-size: 1rem;
  }

  .contact-container .allinputs {
    width: 80%;
  }

  .block button {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .contact-container {
    padding: 1.5rem 1rem 3rem;
  }

  .contact-container h2 {
    font-size: 1.5rem;
  }

  .contact-container p {
    font-size: 0.9rem;
    margin-left: 1rem;
  }
  .contact-container .allinputs {
    width: 90%;
  }
}
