/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #1d1e20;
  color: #dadadb;
  width: 98vw;
  margin: 0 auto;
  padding: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow-x: hidden; */
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    padding: 0 2rem;
    overflow-x: hidden;
  }
}

a {
  text-decoration: none;
  color: #dadadb;
}

li {
  list-style: none;
}

/* Navbar styles */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #1d1e20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  z-index: 1000;
  padding: 0 4rem;
}

.nav-container .logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.hometocontact {
  display: flex;
  justify-content: space-around;
  width: 40%;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

li {
  padding: 0 5px;
  font-size: 1.2rem;
}

li:hover {
  text-decoration: underline;
  color: #f7df1e;
  font-weight: bold;
}
.hometocontact li a:focus,
.hometocontact li .active {
  /* outline: none; */
  /* padding: 0; Ensure no additional padding is applied */
  text-decoration: underline;
  color: #f7df1e;
  font-weight: bold;
}
.menu-icon {
  display: none;
}
.logo {
  padding-left: 1rem;
  cursor: pointer;
}

/* CTA button styles */
.cta-btn {
  background-color: #ffcc1a;
  color: #1d1e20;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  display: inline-block;
}

.cta-btn:hover {
  background-color: #dadadb;
}

/* Responsive styles for mobile */
@media screen and (max-width: 768px) {
  .hometocontact {
    display: none;
    position: absolute;
    top: 5rem;
    /* left: 0; */
    /* background-color: #1d1e20; */
    background-color: #9b9c9d;
    width: 20%;
    flex-direction: column;
    align-items: center;
    padding: 0 0 1rem 0.5rem;
    border-radius: 0 5px;
    /* padding: auto; */
    z-index: 1000;
  }

  .hometocontact.open {
    display: block;
  }

  .menu-icon {
    display: block;
    font-size: 1.5rem;
    color: #dadadb;
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 0.5rem;
  }
  .nav-container {
    padding: 0 1rem;
  }
}

/* Footer */

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  background-color: #1d1e20;
}

.footer-container p {
  font-size: 0.8rem;
  color: #9b9c9d;
}

hr {
  border: none;
  background-color: #9b9c9d;
  height: 1px;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  hr {
    width: 100%;
  }
}

.footer-container .social_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
}

.footer-container .social_icons a {
  color: #9b9c9d;
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
}

.footer-container .social_icons a:hover {
  color: #dadadb;
}

/* Hero */
#Hero {
  margin-top: 5rem;
}

.hero-container2 {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding: 2rem 0; */
  /* margin-top: 1rem; */
  width: 100%;
}

.hero-container2 .profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
}

/* .home-img {
  width: 60%;
  height: 45%;
  margin-top: 2rem;
  border-radius: 10px;
} */

.hero-container2 .hero-text {
  text-align: justify;

  margin: 1rem 0;
  width: 80%;
  /* display: flex; */
  /* align-items: center; */
}

.hero-container2 .hero-text h1 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.hero-container2 .hero-text p {
  font-size: 1.2rem;
  font-weight: 400;
  /* margin-bottom: 1rem; */
  margin: 1rem 0;
}

.hero-container2 .hero-text p span {
  color: #ffcc1a;
  font-weight: bolder;
}

.hero-container2 .hero-text .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
}
.hero-container2 .hero-text .social-icons a {
  color: #9b9c9d;
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
}

.hero-container2 .hero-text .social-icons a:hover {
  color: #dadadb;
}

.hero-text .hero-img {
  /* width: 80%; */
  /* height: 90vh; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 10px;
  object-fit: cover;
  /* background-color: green; */
  /* color: #b3b3b3; */
  padding: 1rem;
}

.mern-img {
  width: 200px;
  height: 150px;
  border-radius: 10px;
}
/* .fa-react {
  width: 200px;
  height: 150px;
  border-radius: 10px;
} */
.mongodb-img {
  /* width: 300px; */
  /* height: 150px;
  border-radius: 10px; */
}
.express-img {
  /* width: 200px; */
  background-color: white;
}
.react-img {
  /* width: 200px; */
}

@media screen and (max-width: 768px) {
  .hero-container2 {
    /* margin-top: 7rem; */
    /* padding: 3rem 0; */
    width: 100%;
    height: 100%;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    /* background-color: green; */
  }
  /* .hero-img {
    width: 90vw;
    height: 70vh;
    margin-bottom: 1rem;
  } */

  /* .profile-img {
    width: 400px;
    height: 300px;
  } */

  .hero-container2 .profile-img {
    margin: 2rem;
    width: 200px;
    height: 200px;
  }
  .hero-container2 .hero-text {
    width: 85%;
    height: auto;
    font-weight: lighter;
    /* padding: 0 1rem; */
    /* background-color: #00758f; */
    /* margin: 0 0.3rem; */
  }
  .hero-container2 .hero-text p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 0.5rem;

  }
  
  .mern-img {
    width: 120px;
    height: 90px;
  }
}

/* About */
.about-container {
  /* padding: 2rem 0; */
  padding: 4rem 2rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 1rem;
}

.about-container h2 {
  /* font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem; */

  font-size: 2.5rem;
  font-weight: 700;
  color: #1d1e20;
  margin-bottom: 1rem;
  text-align: center;
}
.about-container p {
  max-width: 85%;
  text-align: justify;
  font-size: 1.2rem;
  font-weight: 400;
}

/* .about-container .flex-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 2rem;
} */

.flex-about {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  width: 85%;
}

.about-container .flex-about .about-text {
  width: 100%;
}

.about-container .flex-about .about-text p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  text-align: justify;
  line-height: 1.8;
  color: #333;
  padding-left: 1rem;
}
.about-text h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #264de4;
  /* background-color: #3c873a; */
  margin-bottom: 1rem;
  width: 93%;
  text-align: center;
}
.about-text .competency {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.about-text .competency h5 {
  gap: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #1d1e20;

  /* color: #d4de12; */
  line-height: 1.6;
  margin: 0.5rem;
  /* background-color: #dadadb; */
  padding: 0.5rem 0.7rem;
  border-radius: 10px;
  border: 2px solid #dadadb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.competency h5:hover {
  transform: scale(1.04);
}

.about-container .flex-about .about-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  /* height: 100%; */
}

.about-container .flex-about .about-img .profile-img {
  overflow: hidden;
  width: 100%;
  height: 600px;
  object-fit: cover;
  border: 2px solid #dadadb;
  /* filter: grayscale(100%); */
  transition: all 0.5s ease-in-out;
  cursor: cell;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.about-container .flex-about .about-img .profile-img:hover {
  /* filter: grayscale(0%); */
  transform: scale(1.02);
}

@media screen and (max-width: 768px) {
  .about-container .flex-about {
    flex-direction: column;
  }

  .about-container .flex-about .about-text {
    width: 100%;
    margin-left: 2rem;
  }

  .about-container .flex-about .about-img {
    width: 80%;
  }
  .about-container .flex-about .about-img .profile-img {
    height: 300px;
  }
  .about-container p {
    max-width: 90%;
    font-size: 1.1rem;
    font-weight: 300;
  }
  .about-text .competency {
    display: flex;
    flex-direction: column;
    width: 90%;
    /* background-color: #00758f; */
    justify-content: center;
    margin-left: 1rem;
    /* align-items: center; */
  }
}

/* Skills */
.skills-container {
  padding: 2rem 0;
  max-width: 90%;
  /* text-align: center; */
  color: #dadadb;
  margin: 0 2rem;
}

.skills-container h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffcc1a;
  margin-bottom: 1rem;
  text-align: center;
}

.skills-container h3 {
  font-size: 2rem;
  font-weight: 500;
  margin: 1.5rem 0;
  color: #f7df1e;
}

.skills-container .grid-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 2rem; */
  border: 2px solid #dadadb;
  border: 2px;
  box-shadow: #b3b3b3;
  padding: 0.5rem 0;

  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  gap: 1rem;
  font-size: 1.2rem;
  /* margin-top: 1rem; */
  /* justify-items: center; */
}

.skills-container .grid-skills .skill-card {
  background-color: #dadadb;
  color: #1d1e20;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  border: 2px solid #2e2f31;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* transition: all 0.5s ease-in-out; */
  transition: transform 0.3s ease, background-color 0.3s ease;
  /* cursor: context-menu; */
  cursor: pointer;
}

/* .skills-container .grid-skills i {
  font-size: 1.5rem;
} */

/* .skill-card:hover {
  transform: translateY(-10px);
  background-color: #333436;
} */

.skill-card i {
  /* font-size: 3rem; */
  /* margin-bottom: 0.5rem; */
  /* color: #ffcc1a; */
}

/* .skill-card p { */
/* font-size: 1rem; */
/* font-weight: 500; */
/* margin-top: 0.5rem; */
/* } */

/* Icon Specific Colors */
/* frontend Icon */

.html-icon {
  color: #e34c26;
}
.html-icon {
  color: #e34c26;
}

.css-icon {
  color: #264de4;
}

.js-icon {
  color: #f0db4f;
}

.ts-icon {
  color: #3178c6;
}

.react-icon {
  color: #61dbfb;
}

/* Backend icons */
.node-icon {
  color: #3c873a;
}

.express-icon {
  color: #303030;
}

.python-icon {
  color: #306998;
}

.laravel-icon {
  color: #ff2d20;
}
/* Database Icon */
.mongodb-icon {
  color: #4db33d;
}

.mysql-icon {
  color: #00758f;
}

.postgresql-icon {
  color: #336791;
}

/* Tools and Others */
.docker-icon {
  color: #2496ed;
}

.git-icon {
  color: #f34f29;
}

.rest-icon {
  color: #f7df1e;
}

.postman-icon {
  color: #ff6c37;
}

.graphql-icon {
  color: #e535ab;
}

.webpack-icon {
  color: #8ed6fb;
}

.babel-icon {
  color: #f9dc3e;
}

.skills-container .grid-skills .html:hover {
  background-color: #e34f26;
}

.skills-container .grid-skills .css:hover {
  background-color: #264de4;
}

.skills-container .grid-skills .js:hover {
  background-color: #f7df1e;
}
.skills-container .grid-skills .ts:hover {
  background-color: #3178c6;
  color: white;
}

.skills-container .grid-skills .react:hover {
  background-color: #61dafb;
}

.skills-container .grid-skills .node:hover {
  background-color: #339933;
}

.skills-container .grid-skills .express:hover {
  background-color: #303030;
  color: white;
}

/* .skills-container .grid-skills .ts:hover {
  background-color: #3178c6;
  color: white;
} */
.skills-container .grid-skills .laravel:hover {
  background-color: #3776ab;
}
.skills-container .grid-skills .mongodb:hover {
  background-color: #4db33d;
  color: white;
}

.skills-container .grid-skills .mysql:hover {
  background-color: #00758f;
  color: white;
}

.skills-container .grid-skills .postgresql:hover {
  background-color: #336791;
  color: white;
}

/* Hover Effects for Tools and Others */
.skills-container .grid-skills .docker:hover {
  background-color: #2496ed;
  color: white;
}

.skills-container .grid-skills .git:hover {
  background-color: #f34f29;
  color: white;
}

.skills-container .grid-skills .rest:hover {
  background-color: #f7df1e;
  color: #1d1e20;
}

.skills-container .grid-skills .postman:hover {
  background-color: #ff6c37;
  color: white;
}

.skills-container .grid-skills .graphql:hover {
  background-color: #e535ab;
  color: white;
}

.skills-container .grid-skills .webpack:hover {
  background-color: #8ed6fb;
  color: #1d1e20;
}

.skills-container .grid-skills .babel:hover {
  background-color: #f9dc3e;
  color: #1d1e20;
}

@media screen and (max-width: 768px) {
  .skills-container .grid-skills {
    grid-template-columns: repeat(2, 1fr);
  }
  .skills-container h2 {
    font-size: 1.5rem;
  }

  .skills-container h3 {
    font-size: 1.25rem;
  }
  .skill-card {
    /* gap: 0 0.2rem; */
    /* padding: 1rem; */
  }
  .skill-card p {
    font-size: 0.875rem;
  }
}

/* Projects */
.projects-container {
  /* padding: 2rem 0; */
  /* background-color: #e6e6e6; */
  padding: 4rem 2rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  color: #1d1e20;
}

.projects-container h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #1d1e20;
  margin-bottom: 1rem;
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* .project-card {
  border: 0.5px solid #e6e6e6;
  padding: 20px;
  border-radius: 5px;
} */
.project-card {
  /* background-color: #1d1e20; */
  /* background-color: #dadadb; */
  /* background-color: whitesmoke; */
  /* color: #f8f9fa; */
  padding: 1.5rem;
  border-radius: 10px;
  border: 2px solid #dadadb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.project-card:hover {
  transform: scale(1.04);
}

.project-card .project-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.project-card .folder-icon {
  font-size: 35px;
  color: #ffcc17;
}

.project-header .small-icons {
  display: flex;
  gap: 0 5px;
}

/* .project-card .small-icons a {
  margin-right: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
} */
.small-icons a {
  font-size: 1.5rem;
  color: #ffcc1a;
  margin-left: 0.5rem;
  transition: color 0.3s ease;
}
/* .small-icons a:hover {
  color: #dadadb;
} */

/* .project-card .small-icons a:hover {
  color: #ffcc17;
} */

.project-card h3 {
  /* font-size: 20px;
  margin-bottom: 10px; */
  font-size: 1rem;
  /* color: #f7df1e; */
  margin-bottom: 0.5rem;
}

.project-card p {
  font-size: 1rem;
  margin-bottom: 10px;
  /* display: flex; */
  /* justify-content: justify; */
  text-align: justify;
  /* color: #b3b3b3; */
}
.project-links {
  display: flex;
  flex-direction: column;
  /* color: #1d1e20; */
  margin-top: 0.5rem;
  gap: 0.5rem 0;
}
.project-links a {
  display: inline-block;
  font-size: 1rem;
  color: #09a7d3;
  margin-left: 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.project-links a:hover {
  color: #ffcc1a;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .projects-container {
    padding: 2rem 0.2rem;
    width: 95vw;
    margin: 0 2rem;
  }
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .project-card {
    width: 90vw;
    margin-left: 1rem;
  }
}

/* contact */
.contact-container {
  padding: 2rem 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  /* background-color: #339933; */
}
/* .container-container1 {
  font-size: 1.3rem;
  border-radius: 10px;
  width: 80%;
  padding: 2rem;

  box-shadow: 0 54px 55px rgb(78 78 78 / 25%), 0 -12px 30px rgb(78 78 78 / 25%),
    0 4px 6px rgb(78 78 78 / 25%), 0 12px 13px rgb(78 78 78 / 25%),
    0 -3px 5px rgb(78 78 78 / 25%);
} */

.contact-container h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffcc1a;
  margin-bottom: 1rem;
  text-align: center;
}

.contact-container p {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
  width: 80%;
}
.contact-container .allinputs {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  /* background-color: #00758f; */
  justify-content: center;
  /* align-items: center; */
  padding: 1rem;
}
.contact-container input {
  font-size: 1.2rem;
  margin: 10px 0 10px 0px;
  border-color: rgb(31, 28, 28);
  padding: 10px;
  border-radius: 5px;
  background-color: #e8f0fe;
  display: flex;
  width: 100%;
}

.contact-container textarea {
  margin: 10px 0 10px 0px;
  padding: 5px;
  border-color: rgb(31, 28, 28);
  border-radius: 5px;
  background-color: #e8f0fe;
  font-size: 20px;
  width: 100%;
  display: flex;
}
/* .name div {
  display: flex;
  flex-direction: column;
} */
.block button {
  padding: 10px;
  font-size: 20px;
  width: 30%;
  border: 3px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button:hover {
  background-color: #09a7d3;
  cursor: pointer;
}
/* .allinputs button {
  display: flex;
  align-items: center;
  justify-content: center;
} */

@media screen and (max-width: 768px) {
  .contact-container {
    width: 90%;
  }
  .contact-container .allinputs {
    width: 70%;
  }
}
